* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.calculatorWrapper {
  padding: 1em 0;
  display: flex;
  justify-content: center;
}

.calculator {
  width: 25%;
}

.calculatorKeyboard {
  width: 100%;
  display: grid;
  gap: 0.065em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculatorKeyboard > button {
  height: 2.5rem;
  border: none;
  background-color: #b4b3b3;
}

button:hover {
  cursor: pointer;
}

.calculatorKeyboard :nth-child(17) {
  grid-column: 1/3;
}

.calculatorKeyboard :nth-child(4n + 0) {
  background-color: #f68c34;
}

.calculatorKeyboard :nth-child(19) {
  background-color: #f68c34;
}

.calculatorInputField {
  width: 100%;
  height: 2.5rem;
  background-color: #6d6c6c;
  border: none;
  text-align: end;
  padding: 0.5em;
  font-size: 1.2rem;
  color: #fff;
}

.calculatorInputField:focus {
  outline: none;
}
